<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <style>
        .container{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Welcome RoyaleTwo</h1>


    <h1><a href="{% url 'login' %}" style="outline: none; text-decoration: none; color: black;">Login</a></h1>
    <h1><a href="{% url 'register' %} " style="outline: none; text-decoration: none; color: black;"> Register</a></h1>
</div>
</body>
</html>
<img src="" height="100px">